{
        "semi": false,
        "singleQuote": true,
        "printWidth": 100,
        "tabWidth": 4,
        "trailingComma": "none",
        "plugins": [
                "prettier-plugin-svelte"
        ],
        "bracketSameLine": true,
        "pluginSearchDirs": false,
        "svelteSortOrder": "none",
        "svelteStrictMode": false,
        "svelteBracketNewLine": false,
        "svelteAllowShorthand": true
}